<%provide(:title, "About")%>

<h1>About</h1>
<p>The application is mainly for hospital administrators (thus functional actors in the HSA DSS) to analysis
historical patients’ demographic and medical records data, services received data and resources used in
treating them.</p>
